div{
    width:90%;
    border: solid 1pt blue;
    position: absolute;
    left: 12cm;
    top: 45cm;
    padding: 2%;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    /*lisa veel 3 oma omadust*/
}
footer{
    text-align: center;
    background-color: olive;
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
}
header{
    text-align: center;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: all-small-caps;
    letter-spacing: 0.4cm;
    background-color: olive;
}
img{
    border: olive solid blue;
    border-radius: 40%;
    filter:saturate(55);
    /*otsi internetis huvitav filter affekt*/
    /*rakenda oma pildile*/
}
