body{
     font-family:  Georgia;/*fondi tüüp*/
    color: rgb(0, 0, 0); /*teksti värv*/
}
h1{
    border: dotted 1px rgb(80, 255, 232); /*deshed, outline, double, soolid, ääris*/
    padding: 15%; /*vahe tekstist ääriseni*/
    margin: 15px;
    border-radius: 10px;
    width: 50%; /*laius*/
    background-color: rgb(80, 220, 255); /*tausta värv*/
}
ul{
   list-style-type: circle; /*markeri tüüp - square; */
    padding: 5px; 
    background-color: wheat;
}
ul li{
    background-color: white;
    margin: 10px;
}
table td{
    width: 60%;
    border:solid 3px rgb(216, 112, 112);
    border-collapse:  collapse; /*ühine ääris*/
    background-color: rgb(144, 80, 255);
}